form {
  display: flex;
  flex-direction: column;
}

#root {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  padding: 40px;
}
label {
  font-weight: bold;
}
input, button {
  border-radius: 4px;
  height: 40px;
}
input {
  border: 2px solid lightgray;
  margin-bottom: 20px;
}

button {
  background: green;
  font-weight: bold;
  font-size: 16px;
  color: white;
}